<style>
  a {
    text-decoration: none !important
  }
</style>

<div class="row">
<div class="col-sm-6">
  <h1>Topics</h1>
</div>
<div class="col-sm-6"></div>
</div>

<div class="row">
  <div class="col-sm-6">
    
    <% @subjects.each do |sbj| %>
    <ul class="list-group">
      <h3><b><%= sbj %></b></h3>
      <% topics = Topic.where(:subject => sbj) %>
      <% topics.each do |topic| %>
          <a href= "/r/<%= topic.name %>" class="list-group-item justify-content-between list-group-item-action">
            <%= topic.name %>
            <span class="badge badge-default badge-pill"><%= topic.posts.count %> posts</span>
          </a>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
